server.port: 8090


#Default the security credentials to call the config service. Override these
#for your deployment.
direct:
  webservices:
    security:
      basic:
        user:
          name: admin
          password: d1r3ct;

  config:
    service:
      url: http://localhost:8082/
  msgmonitor:
    service:
      url: http://localhost:8081/

spring:
  config.import: 'optional:configserver:'
  cloud: 
    function:
      definition: directSmtpGatewayMessageInput;directStaProcessorInput;directStaPostProcessInput;directSmtpRemoteDeliveryInput;directXDDeliveryInput
    stream: 
      output-bindings: direct-smtp-gateway-message;direct-smtp-remote-delivery;direct-sta-processor;direct-sta-post-process;direct-sta-last-mile;direct-xd-delivery
    
      bindings: 
        direct-smtp-gateway-message-out-0:
          destination: direct-smtp-mq-gateway
          
        directSmtpGatewayMessageInput-in-0:
          destination: direct-smtp-mq-gateway
          group: direct-sta-mq-gateway-message-group
          consumer:
            concurrency: 10    
            maxAttempts: 4
            backOffInitialInterval: 15000
            backOffMaxInterval: 60000   
            
        direct-sta-processor-out-0: 
          destination: direct-sta-process
          
        directStaProcessorInput-in-0: 
          destination: direct-sta-process    
          group: direct-sta-process-message-group
          consumer:
            concurrency: 10                   
            maxAttempts: 4
            backOffInitialInterval: 15000
            backOffMaxInterval: 60000   
          
        direct-sta-post-process-out-0:
          destination: direct-sta-post-process
          
        directStaPostProcessInput-in-0: 
          destination: direct-sta-post-process   
          group: direct-sta-post-process-message-group
          consumer:
            concurrency: 10             
            maxAttempts: 4
            backOffInitialInterval: 15000
            backOffMaxInterval: 60000    
            
        direct-smtp-remote-delivery-out-0:
          destination: direct-remote-delivery-process
        
        #Default to max 5 attempts, retry at 6 minutes, then multiply by a factor of 4 for each retry  
        directSmtpRemoteDeliveryInput-in-0: 
          destination: direct-remote-delivery-process
          group: direct-sta-remoted-delivery-group
          consumer:
            concurrency: 10             
            maxAttempts: 5
            backOffInitialInterval: 360000 
            backOffMaxInterval: 92160000  
            backOffMultiplier: 4                  
       
        direct-xd-delivery-out-0: 
          destination: direct-xd-delivery-process          
          
        directXDDeliveryInput-in-0: 
          destination: direct-xd-delivery-process  
          group: direct-xd-delivery-process-group                    
          
        direct-sta-last-mile-out-0: 
          destination: direct-sta-last-mile-delivery  

  application:
    name: direct-sta-sboot
  jpa:
    open_in_view: false

  main:
    allow-bean-definition-overriding: true

  jmx:
    default-domain: direct-sta-sboot



#Don't use rabbit as part of the health check
management:
  health:
    rabbit:
      enabled: false

#unique jmx names to avoid collisions when running
#multiple spring boot apps in an web container
endpoints:
  jmx:
    default-domain: direct-sta-sboot
    uniqueNames: true
       